body {
    background-image: url(/imagens/fundo2.png);
}

.td {
    text-align: center;
    text-transform: uppercase;
}

.centro {
    text-align: center;
}

.page {
    align: center; 
}

a:link {
    text-decoration:none;
}